* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
.sidebar {
    background-color: #ff3d49;
}

h1 {
    margin: 3rem auto;
    text-align: center;
    color: #FFFFFF;
}

.side-menu {
    list-style: none;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.side-menu > li {
    padding: 0.2rem 1rem;
}

.side-menu > li:nth-child(1) {
    font-weight: 900;
    background-color: #ff5662;
    padding: 0.5rem 1rem;
}

.side-menu > :not(:nth-child(1)):hover {
    background-color: rgb(46, 23, 23);
    opacity: 0.8;
    transition: all 1.5s ;
}

.main {
    background-color: lightgrey;
}

.main-search-bar {
    height: 50px;
}

.main-search-bar > form {
    display: flex;
    justify-content: space-around;
    padding: 5px 3rem;
}   
#search {
    width: 80%;
}

.main-title-bar {
    height: 300px;
    background-image: url(./img/main_title.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat ;
    background-size: cover;
}

h2 {
    font-size: 3rem;
    color: #FFFFFF;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.card-img {
    /* 부모의 width의 70% */
    padding-top: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    padding: 1rem;
    background-color: #FFFFFF;
}

.card-title {
    margin: 1rem 0;
}

.btn-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: black;
    color: #FFFFFF;
    border: none;
}