div {
    border: 1px solid #000;
    width: 400px;
    
}

/* margin 속성 : 외부 여백 지정
        > 1개 지정 : 4방향 테두리
        > 2개 지정 : 첫번째값 - 상하 , 두번째값 - 좌우
        > 3개 지정 ; 위 > 좌우 > 상하 
        > 4개 지정 : 상> 우> 하> 좌 
        > auto : 마진을 자동으로 계산
    마진 중첩현상
        HTML 요소를 세로로 배치 할 경우 margin 과 margin이 서로 만날 때, 
        margin 값이 큰 쪽으로 겹쳐지는 현상입니다.
        (가로로 배치할 경우는 상관없음)
*/
h1, p {
    border: 1px solid #000;
    width: 150px;
}

h1 {
    margin:10px auto;
}

p {
    margin :5px auto;
}


.div2 {
    padding: 50px;
}

/* margin 속성 : 내부 여백 지정
        > 1개 지정 : 4방향 테두리
        > 2개 지정 : 첫번째값 - 상하 , 두번째값 - 좌우
        > 3개 지정 ; 위 > 좌우 > 상하 
        > 4개 지정 : 상> 우> 하> 좌 
*/

/* box-shadow : 박스 모델에 그림자 효과
    속성값 : 수평거리, 수직거리, 흐림정도, 번짐정도, 색상, inset
        - inset사용시 안쪽으로 그림자
 */

.div3, .div4 {
    width: 75px;
    height: 75px;
    margin: 20px ;   
}

.div3 {
    box-shadow: 10px 10px 10px 1px hsla(0, 40%, 76%, 0.274);
}

.div4 {
    box-shadow: 5px 5px 5px 10px #091 inset;
}