div {
    width :200px;
    height: 150px;
    border: 1px solid #000;
    margin: 10px;
}

.div-1 {
    background: linear-gradient(
      180deg,  blue , skyblue , magenta  
    );
}
.div-2 {
    background : radial-gradient(
       circle  at 0% 20%
       , pink, yellow
    )
}